.gallery-container {
  font-family: SF Pro Display;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tabs:has(.tab:nth-child(1)) {
  --count: 1;
}
.tabs:has(.tab:nth-child(2)) {
  --count: 2;
}
.tabs:has(.tab:nth-child(3)) {
  --count: 3;
}
.tabs:has(.tab:nth-child(4)) {
  --count: 4;
}
.tabs:has(.tab:nth-child(5)) {
  --count: 5;
}

.tabs:has(.tab.active:nth-child(1)) {
  --active: 0;
}
.tabs:has(.tab.active:nth-child(2)) {
  --active: 1;
}
.tabs:has(.tab.active:nth-child(3)) {
  --active: 2;
}
.tabs:has(.tab.active:nth-child(4)) {
  --active: 3;
}
.tabs:has(.tab.active:nth-child(5)) {
  --active: 4;
}

.tabs {
  font-size: $main-font-size;
  --tab-width: 300px;
  --gap-width: 100px;
  gap: var(--gap-width);
  max-width: calc(var(--tab-width) * var(--count));
  display: grid;
  grid-template-columns: repeat(var(--count), minmax(0, 1fr));
  justify-content: center;
  margin: 20px;
  position: relative;
}

.tabs::after {
  content: "";
  position: absolute;
  inset: 0;
  --width: calc((100% / var(--count)) - (2* var(--gap-width) / 3));
  width: var(--width);
  background-color: #7c7c7c;
  border-radius: inherit;
  z-index: -1;
  isolation: isolate;
  margin-left: calc(var(--active) * (var(--width) + var(--gap-width))); 
  margin-top: 30px; // shift the line below the text
  height: 2px;
}

.tabs button {
  border: none;
  cursor: pointer;
}
  
.tab-content {
  width: 100%;
  display: grid;
  grid-auto-rows: minmax(350px, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  height: max-content;
  gap: 83px;
  padding: 0px 83px 20px 83px;
}

.featured-item {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(219, 133, 107, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.featured-item:hover{
  box-shadow: 0 8px 16px rgba(68, 153, 81, 0.2),;
  transition: 0.25s;
  transform: scale(1.025);
  transition: 0.25s;
}

.featured-item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
  
.featured-item-category {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: $main-font-size;
  z-index: 1;
}

.featured-item-date {
  background-color: rgba(128, 128, 128, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: $main-font-size;
  z-index: 1;
}

.featured-item-image {
  width: 100%;
  object-fit: cover;
}

.featured-item-image-placeholder{
  padding: 150px;
}

.coding {
  background-color: rgba(68, 153, 81, 0.75);
}
.modelling {
  background-color: rgb(68, 119, 153, 0.75);
}
.music {
  background-color: rgb(219, 133, 107, 0.75);
}

.featured-item-content {
  flex: 1;
  padding: 15px;
  text-align: center;
}
  
.featured-item-title {
  font-size: $main-font-size + 8px;
  margin-bottom: 5px;
}

.featured-item-description {
  font-size: $main-font-size;
  color: #555;
}