$primary-color: #42b983;
$secondary-color: #35495e;

/* media width */
$media-width-tablet: 860px;
$media-width-mobile: 479px;

/* font sizes */
$heading-font-size: 30px;
$heading-font-size-tablet: 20px;
$heading-font-size-mobile: 15px;

$main-font-size: 20px;
$main-font-size-tablet: 15px; 
$main-font-size-mobile: 10px;

/* padding */
$main-navbar-padding: 30px;
$main-navbar-padding-tablet: 25px;
$main-navbar-padding-mobile: 20px;

$main-padding-vertical: 10px;
$main-padding-horizontal: 20px;
$main-padding: 53px;