.not-found-container {
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
   
  .not-found-code-container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
   
  .not-found-code {
    color: rgb(38, 38, 38);
    font-size: 252px;
    margin-top: -20px;
    font-weight: 900;
    margin-bottom: -20px;
    letter-spacing: -20px;
  }