.home-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-home {
  width: 100%;
  height: 650px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(242, 242, 242, 1);
}
 
.home-background {
  width: 100%;
  height: 900px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home-orb1 {
  top: 277px;
  left: 216px;
  width: 176px;
  height: 179px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-green-orb1 {
  top: 0px;
  left: 0px;
  width: 176px;
  height: 179px;
  position: absolute;
}
 
.home-orb2 {
  top: 455px;
  left: 1079px;
  width: 128px;
  height: 131px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-green-orb2 {
  top: 0px;
  left: 0px;
  width: 128px;
  height: 131px;
  position: absolute;
}
 
.home-desktop {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-background-blur {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 900px;
  position: absolute;
}
 
.home-content-desktop {
  gap: 48px;
  top: 325px;
  left: 83px;
  width: 710px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-heading-body {
  gap: 18px;
  width: 711px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-greeting {
  color: rgba(0, 0, 0, 1);
  width: 711px;
  height: auto;
  font-size: 49px;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-description {
  color: rgba(0, 0, 0, 1);
  width: 711px;
  height: auto;
  font-size: $main-font-size;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-succulent {
  top: 182px;
  right: 15%;
  width: 500px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-succulent1 {
  top: 0px;
  left: 0px;
  width: 500px;
  height: 500px;
  position: absolute;
}

.home-featured {
  width: 100%;
}

.featured-heading {
  padding: 63px 83px;
  font-size: $main-font-size;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
}
  
.featured-items {
  display: grid;
  grid-auto-rows: minmax(400px, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  height: max-content;
  gap: 83px;
  padding: 0px 83px 20px 83px;
}

.featured-item {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(219, 133, 107, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.featured-item:hover{
  box-shadow: 0 8px 16px rgba(68, 153, 81, 0.2),;
  transition: 0.25s;
  transform: scale(1.025);
  transition: 0.25s;
}

.featured-item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
  
.featured-item-category {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: $main-font-size;
  z-index: 1;
}

.featured-item-date {
  background-color: rgba(128, 128, 128, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: $main-font-size;
  z-index: 1;
}

.featured-item-image {
  width: 100%;
  // width: min(350px, 1fr);
  // width: max(100%, 350px);
  // width: min(100%, 300px);
  // height: 300px;
  object-fit: cover;
}

.featured-item-image-placeholder{
  // width: 100%;
  padding: 150px;
}

.coding {
  background-color: rgba(68, 153, 81, 0.75);
}
.modelling {
  background-color: rgb(68, 119, 153, 0.75);
}
.music {
  background-color: rgb(219, 133, 107, 0.75);
}

.featured-item-content {
  flex: 1;
  padding: 15px;
  text-align: center;
}
  
.featured-item-title {
  font-size: $main-font-size + 8px;
  margin-bottom: 5px;
}

.featured-item-description {
  font-size: $main-font-size;
  font-family: SF Pro Display;
  color: #555;
}

.view-gallery {
  padding: 0px 83px 20px 83px;
  height: auto;
  display: grid;
  justify-content: center;
}

.view-gallery-button {
  padding: 12px 36px;
  border-radius: 8px;
  background-color: rgb(64, 64, 64);
  color: rgb(255, 255, 255);
  font-size: $main-font-size;
  text-align: center;
  font-family: SF Pro Display;
  line-height: 120%;
  font-stretch: normal;
  text-decoration: none;
}

.view-gallery-button:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.25s;
}