.home-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-home {
  width: 100%;
  height: 650px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(242, 242, 242, 1);
}
 
.home-background {
  width: 100%;
  height: 900px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home-orb1 {
  top: 277px;
  left: 216px;
  width: 176px;
  height: 179px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-green-orb1 {
  top: 0px;
  left: 0px;
  width: 176px;
  height: 179px;
  position: absolute;
}
 
.home-orb2 {
  top: 455px;
  left: 1079px;
  width: 128px;
  height: 131px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-green-orb2 {
  top: 0px;
  left: 0px;
  width: 128px;
  height: 131px;
  position: absolute;
}
 
.home-desktop {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-background-blur {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 900px;
  position: absolute;
}
 
.home-content-desktop {
  gap: 48px;
  top: 325px;
  left: 83px;
  width: 710px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-heading-body {
  gap: 18px;
  width: 711px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-greeting {
  color: rgba(0, 0, 0, 1);
  width: 711px;
  height: auto;
  font-size: 49px;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-description {
  color: rgba(0, 0, 0, 1);
  width: 711px;
  height: auto;
  font-size: $main-font-size;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-view-gallery-button {
  gap: 10px;
  top: 772px;
  left: 630px;
  width: 180px;
  display: flex;
  padding: 12px 36px;
  position: absolute;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.home-view-gallery {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: $main-font-size;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: 120%;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-succulent {
  top: 182px;
  right: 15%;
  width: 500px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-succulent1 {
  top: 0px;
  left: 0px;
  width: 500px;
  height: 500px;
  position: absolute;
}

.home-featured {
    width: 100%;
}

.featured-heading {
    padding: 63px 83px;
    font-size: $main-font-size;
}
  
.featured-items {
    gap: 83px;
    display: flex;
    padding: 0px 83px;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.featured-item {
    width: 400px;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
  
.featured-item-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.featured-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.featured-item-content {
    flex: 1;
    padding: 15px;
    text-align: center;
}
  
.featured-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.featured-item-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}
  
.featured-item-description {
    font-size: 14px;
    color: #555;
}